.social-link-icon {
  fill: #ffffff;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color var(--time) var(--cubic);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.social-item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}
.social-icon-list {
  display: flex;
  margin-top: 16px;
}
